body { margin:0; padding:0; }
h1, h2, h3, h4, h5, h6 {
    text-align: center;
}
#navi {  
    list-style:none;
    margin:0;
    padding:0;
}

#navi li {
        margin:2px;
        padding:2px;
        border:1px solid#CCCCCC;
}

#navi li:hover {
    background-color: grey;
}

ul li a {
    display:block;
    width:50%;
    padding:40px 10px 4px 10px;
    text-decoration:none;
    text-align:right;
    font-size:20px;
    color:#666666;
}

ul li a:hover {
    color:white;
}

.cabecera, .pie1, .pie2 {
    background-color: DarkKhaki;
    text-align: center;
    padding: 10px 0px 10px 0px;
    height: 75px;
}

.pie1, .pie2 { color: Gray; }
.pie1 { 
    width: 90%;
    float: left;
}
.pie2 { 
    width: 10%; 
    float: right;
}

.opciones {
    background-color: AntiqueWhite;
    text-align: center;
    height: 120px;
    margin: 20px;
    border-radius: 10px;
}

.opciones:hover { background-color: DarkGrey; }

.opciones a {
    text-decoration:none;   
    color: Crimson;
    padding: 20px;
}

.tablas {
    background-color: AntiqueWhite;
}

